@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond&family=Poor+Story&display=swap');

html, body {
  padding: 0;
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, */
    /* Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif; */

  user-select: none;
  font-family: 'Cormorant Garamond', serif;
  /* font-family: 'Poor Story', cursive; */
}
body::-webkit-scrollbar {
  display: none;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

div {
  display: flex;
  flex-direction: column;
}

.column {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
}

.row {
  display: flex;
  flex-direction: row;
}

.absolute {
  position: absolute;
}